<div id="toolbar" class="ui-widget-content ui-corner-all">
	
    <!-- Controls -->
    <div id="controls">
        <span id="header"></span>

        <div id="actions">
            <button id="save">Save</button>
            <button id="import_nii">Import</button>
            <a id="download_nii">Download</a>
        </div>

        <div id="plane">
            <label>Stereotaxic plane</label><br/>
            <input type="radio" name="radio" id="sagittal" checked="checked"><label for="sagittal">Sagittal</label>
            <input type="radio" name="radio" id="coronal"><label for="coronal">Coronal</label>
            <input type="radio" name="radio" id="axial"><label for="axial">Axial</label>
        </div>

        <div id="painttools">
            <label>Tool</label><br/>
            <span id="tool">
                <input type="radio" name="tool" id="paint" checked="checked"><label for="paint">Paint</label>
                <input type="radio" name="tool" id="erase"><label for="erase">Erase</label>
            </span>
            <input type="checkbox" id="fill"><label for="fill">Fill</label>
        </div>

        <div id="penSize">
            <label>Pen size</label><br/>
            <input type="radio" name="penSize" id="1" checked="checked"><label for="1">1</label>
            <input type="radio" name="penSize" id="2"><label for="2">2</label>
            <input type="radio" name="penSize" id="3"><label for="3">3</label>
            <input type="radio" name="penSize" id="5"><label for="5">5</label>
            <input type="radio" name="penSize" id="10"><label for="10">10</label>
            <input type="radio" name="penSize" id="15"><label for="15">15</label>
        </div>

        <div id="slicetools">
            <button id="prevSlice">-</button>
            <div id="slider" oninput="javascript:changeSlice()"></div>
            <button id="nextSlice">+</button>
            <div id="slice"></div>
        </div>

    </div>

    <!-- Chat -->
    <label id="chat">Chat (not connected)</label>
    <div id="log"></div>
    <input id="msg" type="text" onkeypress="onkey(event)">
    
</div>

<div id="resizable">
    <canvas id="canvas"></canvas>
</div>
